*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.title{
    height: 100px;
    position: absolute;
}

.burger_logo{
    width: 180px !important;
    height: 170px !important;
    padding: 10px;
    background-color: #ffc107;
    border-radius: 80px;
   position: relative;
   left: 50px;
   bottom: 20px
}


main{
    margin-top: 100px;
}


.ingredients{

    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.ingredient{
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
    align-items: center;
    width: 200px;
    padding: 10px;
    font-weight: 600;
}
.ingredient span{
    color: red;
    margin-left: 10px;
}

.coupon{
    display: flex;
    flex-direction: row;
    font-weight: 500;
    padding:1rem;
}
.coupon input{
    background-color:rgb(240, 240, 132);
    border-radius: 4px;
    margin-left: 15px;
}

@media screen and (max-width: 520px) {
    .burger_logo{
        display: none;
    }
}


