*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.ingredients{

}



.burger_logo{
    width: 180px !important;
    height: 170px !important;
    padding: 10px;
    background-color: yellow;
    border-radius: 80px;
   position: relative;
}